<%- model_class = Measurement -%>
<div class="page-header">
  <h1>Body Mass Index:</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:mass) %>:</strong></dt>
  <dd><%= @measurement.mass %> Kg</dd>
  <dt><strong><%= model_class.human_attribute_name(:height) %>:</strong></dt>
  <dd><%= @measurement.height %> m</dd>
  <dt><strong>Body Mass Index:</strong></dt>
  <dd><%= @measurement.bmi %></dd>
  <dt><strong>Category:</strong></dt>
  <dd><%= @measurement.category.name %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),root_path, :class => 'btn btn-default'  %>

